* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans MT";

  --color-primary: #ffffff;
  --color-primary-dark: #f1f1f1;
  --color-secondary: #51c6f5;
  --color-secondary2: #69c9f0;
  --color-secondary3: #2c8aaf;
  --color-secondary4: #b0edff;
  --color-tertiary: blue;
  --color-selected: rgb(207, 207, 207);
  --color-error: #cc3333;
  --color-success: #4bb544;
}

html {
  font-size: 16px;
}

.section {
  display: flex;
  min-width: 100vh;
  min-height: 88.6vh;
  background: var(--color-secondary4);
}

.bar {
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  background: linear-gradient(
    to top,
    var(--color-primary),
    var(--color-secondary)
  );
  background-image: url("../../images/background2.jpg");
  background-size: cover;
  padding: 5px;
  justify-content: space-between;
}

.menu,
.container {
  z-index: 1;
  background: var(--color-primary-dark);
  border-radius: 2rem;
  top: 0;
  height: 86.8vh;
  min-height: 86.8vh;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 3px 10px 20px rgba(119, 119, 119, 0.5);
  border: solid var(--color-secondary3);
}

#user_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: grid;
  align-items: center;
  justify-content: center;
  color: rgb(48, 48, 48);
  left: 0;
  width: 25%;
  min-width: 25%;
}

.container {
  right: 0;
  width: 70%;
  min-width: 70%;
  color: rgb(48, 48, 48);
}

#user_menu {
  font-size: 4rem;
}

#main_menu {
  display: block;
  align-items: center;
  justify-content: center;
}

.markets {
  background: var(--color-secondary2);
  width: 100%;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.personal,
.location,
.settings,
.transfers,
.bookmarks {
  display: grid;
  justify-content: center;
  align-items: center;
}

.bar > div {
  display: flex;
  align-items: center;
}

i:hover {
  cursor: pointer;
  color: var(--color-success);
  transform: scale(1.4);
  transition: all 0.5s;
}

i:active {
  transform: translateY(2px);
}

img:hover {
  cursor: pointer;
}

img:active {
  transform: translateY(4px);
}

.h2 {
  color: var(--color-secondary3);
  font-size: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(94, 94, 94);
  margin-bottom: 0.1rem;
}

.input {
  border: 0;
  border: 1px solid var(--color-secondary3);
  width: 90%;
  padding: 7px 0;
  font-size: 0.8rem;
  outline: none;
  margin-bottom: 1rem;
}

.btn {
  font-family: "roboto", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  border: 0;
  color: var(--color-primary);
  background: var(--color-secondary3);
  padding: 7px 15px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: var(--color-success);
}

.btn:active {
  background-color: var(--color-success);
  transform: translateY(4px);
}

#map {
  height: 20rem;
  width: 200%;
  border: solid 1px var(--color-secondary3);
}

.searchBar {
  height: 2.5rem;
  border-radius: 2.5rem;
  padding: 0.625rem;
  width: 100%;
  min-width: 100%;
  margin: 1rem;
  margin-left: 0;
}

.searchBar:hover > .searchText {
  width: 90%;
  padding: 0 6px;
}

.searchBar:hover > .searchButton {
  background: white;
}

.searchButton {
  color: var(--color-secondary);
  float: left;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: var(--color-secondary4);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.searchText {
  border: none;
  border-radius: 2rem;
  background: var(--color-secondary2);
  outline: none;
  float: left;
  padding: 0;
  color: rgb(48, 48, 48);
  transition: all 0.5s;
  line-height: 2.5rem;
  width: 0px;
}

.portfolio {
  height: 10%;
}

.section--hidden {
  display: none;
}

.section--selected {
  color: var(--color-success);
}

.form__message {
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success {
  color: var(--color-success);
}

.form__message--error {
  color: var(--color-error);
}




