/* Here are all modifiers that effect the whole project */

main {
  min-width: 100vh;
  min-height: 88.6vh;
  background: var(--color-primary);
  z-index: 0;
}

.menu,
.container {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
}

.menu {
  width: 5vh;
  left: 0;
  min-height: 12vh;
}

.bar {
  display: flex;
  align-items: center;
  width: 100%;
  background: linear-gradient(to top, #8739f9, #c651cd);
  padding: 5px;
  justify-content: space-between;
}

.bar > div {
  display: flex;
  align-items: center;
}

h1 {
  color: rgba(#fff, 0.6);
}

img:hover {
  cursor: pointer;
}

.click {
  text-decoration: underline;
}

.click:hover {
  cursor: pointer;
}
