/* Here are all modifiers that effect the whole project */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-width: 100vh;
  min-height: 88.6vh;
  background: #100f10;
  z-index: 0;
}

.menu,
.glass {
  min-height: 86.6vh;
  position: absolute;
  margin: 1vh;
  background-color: #363636;
  border-radius: 2rem;
  z-index: 10;
  backdrop-filter: blur(2rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  width: 80%;
  right: 0;
}

.menu {
  width: 5vh;
  left: 0;
  min-height: 12vh;
}

.bar {
  display: flex;
  align-items: center;
  width: 100%;
  background: linear-gradient(to top, #8739f9, #c651cd);
  padding: 5px;
  justify-content: space-between;
}

.bar > div {
  display: flex;
  align-items: center;
}

h1 {
  color: rgba(#fff, 0.6);
}

img:hover {
  cursor: pointer;
}

.click {
  text-decoration: underline;
}

.click:hover {
  cursor: pointer;
}
