* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans MT";

  --color-primary: #f3f3f3;
  --color-primary-dark: #a8a8a8;
  --color-secondary: #4a9eee;
  --color-error: #cc3333;
  --color-success: #4bb544;
}

.section {
  display: flex;
  min-width: 100vh;
  min-height: 88.6vh;
  font-size: 18px;
  background: var(--color-primary);
}

.bar {
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  background: linear-gradient(
    to top,
    var(--color-primary),
    var(--color-secondary)
  );
  padding: 5px;
  justify-content: space-between;
}

.menu,
.container {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary-dark);
  border-radius: 2rem;
  top: 0;
  height: 86.8vh;
  min-height: 86.8vh;
  margin: 1rem;
  padding: 2rem;
}

.container {
  width: 70%;
  right: 0;
}

.menu {
  padding: 0;
  width: 25%;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
}

.bar > div {
  display: flex;
  align-items: center;
}

img:hover {
  cursor: pointer;
  color: rgb(0, 66, 209);
}

.section--hidden {
  display: none;
}

.section--selected {
  background: var(--color-secondary);
  font-weight: bold;
}
